<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>RemoteHealth | Register</title>

        <!-- CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link href="../public/materialize/materials_icons/css/material-icons.css" rel="stylesheet" /> -->

        <link href="../public/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet"
            href="../public/materialize/css/materialize.min.css">
        <link rel="manifest" href="../public/manifest.json">

        <!-- brower icons -->
        <link rel="icon" type="image/gif"
            href="../public/img/icons/icon-72x72.png">
        <link rel="shortcut icon" href="../public/img/icons/icon-72x72.png">
        <!-- ios support -->
        <link rel="apple-touch-icon" href="../public/img/icons/icon-96x96.png">
        <meta name="apple-mobile-web-app-status-bar" content="#2e7d32">

        <meta name="theme-color" content="#2e7d32">

        <!--Import jQuery before materialize.js-->
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc5FCmwHQSZikD6Lb-sWeZ4_t4cm3rA0c&callback=initMap" async defer></script> -->
        <script src="../public/js/jquery-3.4.1.min.js"></script>
        <script src="../public/materialize/js/materialize.min.js"></script>
    </head>



    <body class="grey darken-3">

        <!-- top nav -->
        <div class="navbar-fixed">
            <nav class="green darken-3" style="z-index: 999;">
                <div class="nav-wrapper container">
                    <a class="brand-logo center"><h5>RemoteHealth</h5></a>
                    <a href="/respond"><i class="left material-icons">add_alert</i><span
                            class="nav_badge new badge blue"><strong
                                id='data_count'></strong></span></a>
                    <a href="/respond"><i class="right material-icons">keyboard_backspace</i></a>
                </div>
            </nav>
        </div>




        <div class="row">

            <h5 style="margin-bottom:20px;margin-top:30px;" class="col s10
                white-text">Locating: <span style="font-size: 0.8em;"><%= name
                        %>...</span>
                </h5>

                <div class="col s12" style="border:1px solid #ccc; margin-top:
                    0px;">
                    <div id='googleMap' class="card-panel teal"
                        style="border:1px solid #ccc;height:500px;">
                        <span class="white-text">Loading Map...</span>
                    </div>
                </div>

                <p id="lat" style="display:none"><%= lat %></p>
                    <p id="long" style="display:none"><%= long %></p>

                    </div>





                    <script type="text/javascript">

                var lat = document.getElementById("lat").innerHTML;
                var long = document.getElementById("long").innerHTML;
    
              //Mapping Business
              var myCenter=new google.maps.LatLng(lat,long);
              
              function initialize() {
                var mapProp = {
                center: myCenter,
                zoom:5,
                mapTypeId: google.maps.MapTypeId.ROADMAP
                };
            
                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
            
                var marker = new google.maps.Marker({
                position: myCenter,
                title:'Click to zoom',
                animation:google.maps.Animation.BOUNCE
                });
                
                marker.setMap(map);
                
                // Zoom to 9 when clicking on marker
                google.maps.event.addListener(marker,'click',function() {
    
                    map.setZoom(9);
                    map.setCenter(marker.getPosition());
                });
              }//end function
    
              google.maps.event.addDomListener(window, 'load', initialize);
          </script>


                    <!-- The core Firebase JS SDK is always required and must be listed first -->
                    <script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-app.js"></script>
                    <script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-firestore.js"></script>

                    <script>
                    // Your web app's Firebase configuration
                    var firebaseConfig = {
                        apiKey: "AIzaSyCb5QTtOqAeW7jvKamFDHUWXHSuvxT5__A",
                        authDomain: "nyumba-246417.firebaseapp.com",
                        databaseURL: "https://nyumba-246417.firebaseio.com",
                        projectId: "nyumba-246417",
                        storageBucket: "nyumba-246417.appspot.com",
                        messagingSenderId: "581948417790",
                        appId: "1:581948417790:web:b844ec71ae0ebcae3b27af"
                    };
                    // Initialize Firebase
                    firebase.initializeApp(firebaseConfig);
                    const db = firebase.firestore();
                    </script>


                    <script src="../public/js/app.js"></script>
                    <script src="../public/js/ui.js"></script>
                    <script src="../public/js/db.js"></script>


                </body>
            </html>